body {background-color:#f5f7f8;color:#292B2C;}
h1 { font-family:verdana; font-size:20px;margin:2px;}
h2 { font-family:verdana; font-size:18px;}
h3 { font-family:verdana; font-size:16px;}
table, td, th { border: 1px solid gray; border-collapse:collapse; padding:5px;}
th { font-family:verdana; font-size:13px; background-color:#90969C;width:90px; }
td { font-family:verdana; font-size:12px; }
td.right { text-align:right; }
td.center { text-align:center; }
tr.odd {background-color:#e8eaeb;} 
tr.even {background-color:#c7cacd;}
p { font-family:verdana; font-size:14px;margin:4px;width:1000px;}
p.edit { font-family:arial; font-size:14px;margin:4px;width:500px;}
p.footer { font-family:verdana; font-size:10px;}
span.gray  {font-family:verdana; font-size:12px;color:gray;}
li { font-family:verdana; font-size:14px;padding:2px;}
button {margin-left:5px; margin-right:5px;}
button:disabled {background-color:#abb0b4;color:#292B2C;}
fieldset {background-color:white; width:500px;}
legend {background-color:white;font-family:verdana; font-size:14px;}
li { font-family:verdana; font-size:12px;}
select {margin:2px;}

